Laboratorio2/LabWeb/LabWeb/LabWeb/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://PRESENTACION/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PRESENTACION/">

<xs:element name="DTCursosPrograma" type="tns:DTCursosPrograma"></xs:element>

<xs:element name="DTCursosProgramaResponse" type="tns:DTCursosProgramaResponse"></xs:element>

<xs:element name="ParseException" type="tns:ParseException"></xs:element>

<xs:element name="agregarCursoPrograma" type="tns:agregarCursoPrograma"></xs:element>

<xs:element name="agregarCursoProgramaResponse" type="tns:agregarCursoProgramaResponse"></xs:element>

<xs:element name="altausuario" type="tns:altausuario"></xs:element>

<xs:element name="altausuarioResponse" type="tns:altausuarioResponse"></xs:element>

<xs:element name="categoriasProgramas" type="tns:categoriasProgramas"></xs:element>

<xs:element name="categoriasProgramasResponse" type="tns:categoriasProgramasResponse"></xs:element>

<xs:element name="chekusuario" type="tns:chekusuario"></xs:element>

<xs:element name="chekusuarioResponse" type="tns:chekusuarioResponse"></xs:element>

<xs:element name="crearPrograma" type="tns:crearPrograma"></xs:element>

<xs:element name="crearProgramaResponse" type="tns:crearProgramaResponse"></xs:element>

<xs:element name="cursosPrograma" type="tns:cursosPrograma"></xs:element>

<xs:element name="cursosProgramaResponse" type="tns:cursosProgramaResponse"></xs:element>

<xs:element name="datosCursos" type="tns:datosCursos"></xs:element>

<xs:element name="datosCursosResponse" type="tns:datosCursosResponse"></xs:element>

<xs:element name="esDocente" type="tns:esDocente"></xs:element>

<xs:element name="esDocenteResponse" type="tns:esDocenteResponse"></xs:element>

<xs:element name="listarNombreProgramas" type="tns:listarNombreProgramas"></xs:element>

<xs:element name="listarNombreProgramasResponse" type="tns:listarNombreProgramasResponse"></xs:element>

<xs:element name="modificarDatosPrograma" type="tns:modificarDatosPrograma"></xs:element>

<xs:element name="modificarDatosProgramaResponse" type="tns:modificarDatosProgramaResponse"></xs:element>

<xs:element name="mostrarCursos" type="tns:mostrarCursos"></xs:element>

<xs:element name="mostrarCursosResponse" type="tns:mostrarCursosResponse"></xs:element>

<xs:element name="obtenerInstitutoCurso" type="tns:obtenerInstitutoCurso"></xs:element>

<xs:element name="obtenerInstitutoCursoResponse" type="tns:obtenerInstitutoCursoResponse"></xs:element>

<xs:element name="obtenerPrograma" type="tns:obtenerPrograma"></xs:element>

<xs:element name="obtenerProgramaResponse" type="tns:obtenerProgramaResponse"></xs:element>

<xs:complexType name="DTCursosPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DTCursosProgramaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCurso" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCurso">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cant_horas" type="xs:double"></xs:element>
<xs:element name="cant_cred" type="xs:double"></xs:element>
<xs:element name="fecha_reg" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenDir" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarNombreProgramas">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="listarNombreProgramasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoriasProgramas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoriasProgramasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerInstitutoCurso">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerInstitutoCursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtInstituto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtInstituto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCursoPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCursoProgramaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="datosCursos">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="datosCursosResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCurso" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esDocente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esDocenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProgramaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chekusuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chekusuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altausuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:boolean"></xs:element>
<xs:element name="arg7" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg8" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altausuarioResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="cursosPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cursosProgramaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarCursos">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarCursosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDatosPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDatosProgramaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPrograma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerProgramaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtPrograma" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPrograma">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha_ini" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fecha_fin" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fecha_alta" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagenDir" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>