Laboratorio2/LabWeb/LabWeb/LabWeb/web/WEB-INF/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PRESENTACION/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PRESENTACION/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://PRESENTACION/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarNombreProgramas">
<part name="parameters" element="tns:listarNombreProgramas"></part>
</message>
<message name="listarNombreProgramasResponse">
<part name="parameters" element="tns:listarNombreProgramasResponse"></part>
</message>
<message name="modificarDatosPrograma">
<part name="parameters" element="tns:modificarDatosPrograma"></part>
</message>
<message name="modificarDatosProgramaResponse">
<part name="parameters" element="tns:modificarDatosProgramaResponse"></part>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="crearPrograma">
<part name="parameters" element="tns:crearPrograma"></part>
</message>
<message name="crearProgramaResponse">
<part name="parameters" element="tns:crearProgramaResponse"></part>
</message>
<message name="chekusuario">
<part name="parameters" element="tns:chekusuario"></part>
</message>
<message name="chekusuarioResponse">
<part name="parameters" element="tns:chekusuarioResponse"></part>
</message>
<message name="obtenerPrograma">
<part name="parameters" element="tns:obtenerPrograma"></part>
</message>
<message name="obtenerProgramaResponse">
<part name="parameters" element="tns:obtenerProgramaResponse"></part>
</message>
<message name="cursosPrograma">
<part name="parameters" element="tns:cursosPrograma"></part>
</message>
<message name="cursosProgramaResponse">
<part name="parameters" element="tns:cursosProgramaResponse"></part>
</message>
<message name="obtenerInstitutoCurso">
<part name="parameters" element="tns:obtenerInstitutoCurso"></part>
</message>
<message name="obtenerInstitutoCursoResponse">
<part name="parameters" element="tns:obtenerInstitutoCursoResponse"></part>
</message>
<message name="agregarCursoPrograma">
<part name="parameters" element="tns:agregarCursoPrograma"></part>
</message>
<message name="agregarCursoProgramaResponse">
<part name="parameters" element="tns:agregarCursoProgramaResponse"></part>
</message>
<message name="altausuario">
<part name="parameters" element="tns:altausuario"></part>
</message>
<message name="altausuarioResponse">
<part name="parameters" element="tns:altausuarioResponse"></part>
</message>
<message name="esDocente">
<part name="parameters" element="tns:esDocente"></part>
</message>
<message name="esDocenteResponse">
<part name="parameters" element="tns:esDocenteResponse"></part>
</message>
<message name="DTCursosPrograma">
<part name="parameters" element="tns:DTCursosPrograma"></part>
</message>
<message name="DTCursosProgramaResponse">
<part name="parameters" element="tns:DTCursosProgramaResponse"></part>
</message>
<message name="mostrarCursos">
<part name="parameters" element="tns:mostrarCursos"></part>
</message>
<message name="mostrarCursosResponse">
<part name="parameters" element="tns:mostrarCursosResponse"></part>
</message>
<message name="datosCursos">
<part name="parameters" element="tns:datosCursos"></part>
</message>
<message name="datosCursosResponse">
<part name="parameters" element="tns:datosCursosResponse"></part>
</message>
<message name="categoriasProgramas">
<part name="parameters" element="tns:categoriasProgramas"></part>
</message>
<message name="categoriasProgramasResponse">
<part name="parameters" element="tns:categoriasProgramasResponse"></part>
</message>
<portType name="Publicador">
<operation name="listarNombreProgramas">
<input wsam:Action="http://PRESENTACION/Publicador/listarNombreProgramasRequest" message="tns:listarNombreProgramas"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarNombreProgramasResponse" message="tns:listarNombreProgramasResponse"></output>
</operation>
<operation name="modificarDatosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/modificarDatosProgramaRequest" message="tns:modificarDatosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/modificarDatosProgramaResponse" message="tns:modificarDatosProgramaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/modificarDatosPrograma/Fault/ParseException"></fault>
</operation>
<operation name="crearPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/crearProgramaRequest" message="tns:crearPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/crearProgramaResponse" message="tns:crearProgramaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/crearPrograma/Fault/ParseException"></fault>
</operation>
<operation name="chekusuario">
<input wsam:Action="http://PRESENTACION/Publicador/chekusuarioRequest" message="tns:chekusuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/chekusuarioResponse" message="tns:chekusuarioResponse"></output>
</operation>
<operation name="obtenerPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerProgramaRequest" message="tns:obtenerPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerProgramaResponse" message="tns:obtenerProgramaResponse"></output>
</operation>
<operation name="cursosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/cursosProgramaRequest" message="tns:cursosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cursosProgramaResponse" message="tns:cursosProgramaResponse"></output>
</operation>
<operation name="obtenerInstitutoCurso">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerInstitutoCursoRequest" message="tns:obtenerInstitutoCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerInstitutoCursoResponse" message="tns:obtenerInstitutoCursoResponse"></output>
</operation>
<operation name="agregarCursoPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/agregarCursoProgramaRequest" message="tns:agregarCursoPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/agregarCursoProgramaResponse" message="tns:agregarCursoProgramaResponse"></output>
</operation>
<operation name="altausuario">
<input wsam:Action="http://PRESENTACION/Publicador/altausuarioRequest" message="tns:altausuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/altausuarioResponse" message="tns:altausuarioResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/altausuario/Fault/ParseException"></fault>
</operation>
<operation name="esDocente">
<input wsam:Action="http://PRESENTACION/Publicador/esDocenteRequest" message="tns:esDocente"></input>
<output wsam:Action="http://PRESENTACION/Publicador/esDocenteResponse" message="tns:esDocenteResponse"></output>
</operation>
<operation name="DTCursosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/DTCursosProgramaRequest" message="tns:DTCursosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/DTCursosProgramaResponse" message="tns:DTCursosProgramaResponse"></output>
</operation>
<operation name="mostrarCursos">
<input wsam:Action="http://PRESENTACION/Publicador/mostrarCursosRequest" message="tns:mostrarCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/mostrarCursosResponse" message="tns:mostrarCursosResponse"></output>
</operation>
<operation name="datosCursos">
<input wsam:Action="http://PRESENTACION/Publicador/datosCursosRequest" message="tns:datosCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosCursosResponse" message="tns:datosCursosResponse"></output>
</operation>
<operation name="categoriasProgramas">
<input wsam:Action="http://PRESENTACION/Publicador/categoriasProgramasRequest" message="tns:categoriasProgramas"></input>
<output wsam:Action="http://PRESENTACION/Publicador/categoriasProgramasResponse" message="tns:categoriasProgramasResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="listarNombreProgramas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarDatosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="crearPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="chekusuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cursosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerInstitutoCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarCursoPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altausuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="esDocente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="DTCursosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="mostrarCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="datosCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="categoriasProgramas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>